[submodule "modules/core-v-verif"]
	path = modules/core-v-verif
	url = https://github.com/openhwgroup/core-v-verif.git
	branch = master
[submodule "modules/cvfpu"]
	path = modules/cvfpu
	url = https://github.com/openhwgroup/cvfpu.git
	branch = develop
